@fundsPlateItemBgColor: #e8f2fd;
@fundsPlateItemTitleColor: #333333;

*{
    margin: 0;
    padding: 0;
}

.fundsTitleStyle{
    margin-left: 15px;
    clear: both;
}

.fundsPlateContentStyle{
    border-spacing: 15px 5px;
}

td{
    width: 50%;
}

.fundsPlateItemStyle{
    background-color: @fundsPlateItemBgColor;
    list-style-type: none;
}

.fundsPlateItemName{
    float: left;
}

.fundsPlateItemContent{
    float: right;
}