@fundsPlateItemBgColor: #e8f2fd;
@fundsPlateItemTitleColor: #333333;

*{
    margin: 0;
    padding: 0;
}

.fundsTitleStyle{
    margin-left: 15px;
    clear: both;
}

.fundsPlateContentStyle{
    border-spacing: 15px 0px;
}

td{
    border-spacing: 150px;
}

.fundsPlateItemStyle{
    // float: left;
    width: 50%;
    background-color: @fundsPlateItemBgColor;
    list-style-type: none;
}

.fundsPlateItemStyle div{
    padding-left: 15px;
    padding-right: 7px;
}

.fundsPlateItemName{
    float: left;
}

.fundsPlateItemZDF{
    float: right;
}